<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlackListMapper">
	<insert id="singoWrite" parameterType="com.choa.blackList.BlackDTO">
		insert into black
		values(black_seq.nextVal,#{bid},#{title},#{sid},#{contents},sysdate)
	</insert>
	<!-- 회원리스트 type별로 판매자,구매자,블랙리스트불러오기 -->
	<select id="memberInfo" parameterType="com.choa.util.PageMaker" resultType="com.choa.member.MemberDTO"> 
		select * from 
		(select rownum R, F.* from 
		(select * from member where type=#{type}) F) 
		where R between #{startRowNum} and #{lastLowNum}
	</select>
	<select id="memberCount" parameterType="int"  resultType="int"> 
		select count(*) from member where type=#{type} 
	</select>
</mapper>