<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="BookMapper">
	
	<select id="sellBookView" resultType="com.choa.book.BookDTO" parameterType="int">
		select * from BOOK 
		where num=#{num}
	</select>

	<select id="myBookList" resultType="com.choa.book.BookDTO" parameterType="String">
		select B.* 
		from BOOK B, MEMBERLIKEBOOKS MLB, MEMBER M 
		where (M.id=MLB.id and MLB.num=B.num) and M.id=#{id}
	</select> 
	
	<select id="myBuyList" resultType="com.choa.book.BookDTO" parameterType="String">
		select B.* 
		from BOOK B, BUYERBUYBOOKS BBB, MEMBER M 
		where (M.id=BBB.id and BBB.num_buy=B.num) and M.id=#{id}
	</select>
	
	<select id="sellBookList" resultType="com.choa.book.BookDTO" parameterType="com.choa.util.PageMaker">
  	select T.*, BP.* from
   	 (select * from
		(select Rownum R, F.* from
		(select * from Book order by num asc) F)
		where R between #{startRowNum} and #{lastLowNum})T, BOOK_PICTURE BP
   		 where T.num=BP.num
	</select>
	
	<select id="bookCount" resultType="int">
		select count(*) from BOOK
	</select>
	
	
	
	</mapper>