<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
   <mapper namespace="BookMapper">
   
   <update id="statusDeposit" parameterType="int">
   		update BOOK set status='결제완료' where num=#{num}
   </update>
   
   
   	<!--sellBookList 들어갔을때 찜 눌러놓은 거 있으면 빨간하트 띄워줄라고 -->
   <select id="myHeart" resultType="int" parameterType="String">
   	select num from MEMBERLIKEBOOKS where id=#{id}
   </select>
   
   <select id="BookLikes" resultType="com.choa.book.BookDTO">
   		select * from Book order by likes desc
   </select>
   
   
   
   <select id="sellBookSearch" resultType="com.choa.book.BookDTO" parameterType="com.choa.util.PageMaker">
  select T.*, BP.files1 from
   	 (select * from
		(select Rownum R, F.* from
		(select * from Book order by num asc) F)
		where R between #{startRowNum} and #{lastLowNum})T, BOOK_PICTURE BP
   		 where (T.num=BP.num and T.product like '%'|| #{search} ||'%') 
   		 or (T.num=BP.num and T.publisher like '%'||#{search}||'%') 
   		 or (T.num=BP.num and T.writer like '%'||#{search}||'%') 
   		 or (T.num=BP.num and T.contents like '%'||#{search}||'%')
	</select>
   
   
   <!-- 하트눌렀을때 MemberLikeBooks 의  해당 한줄 삽입하기  -->
   <insert id="insertMLB" parameterType="com.choa.member.MemberLikeBooksDTO">
   		insert into MEMBERLIKEBOOKS values(#{id}, #{num}) 
   </insert>
   <!--하트 눌렀을때 Book의 likes 하나 더하기  -->
   <update id="changeLikesAdd" parameterType="int">
   		update BOOK set likes=likes+1 where num=#{num}
   </update>
   
   
       <!-- 하트눌렀을때 MemberLikeBooks 의  해당 한줄 지우기  -->
   <delete id="deleteMLB" parameterType="com.choa.member.MemberLikeBooksDTO">
   		delete MEMBERLIKEBOOKS where id=#{id} and num=#{num} 
   </delete>
     <!--하트 눌렀을때 Book의 likes 하나 빼기 -->
   <update id="changeLikesDelete" parameterType="int">
   		update BOOK set likes=likes-1 where num=#{num}
   </update>
   
   
   
   <!-- 판매 도서 등록 -->
	<insert id="sellBookWrite" parameterType="com.choa.book.BookDTO"> 
		insert into book 
		values(b_seq.nextval, #{id}, #{product}, #{publisher},  #{contents},
		 #{price}, #{buy_date}, #{k_id}, 0, 0, sysdate, #{status},
		 #{author}, #{sellingprice}, #{quality}, #{genre}, #{bookdate} )
	</insert>
	<!-- 판매 도서 이미지파일 등록 -->
	<insert id="sellBookfile" parameterType="com.choa.book.BookPictureDTO"> 
		insert into book_picture values(b_seq.nextval, #{files1},#{files2},#{files3},#{files4})
	</insert>
	
	<select id="sellBookViewFiles" resultType="com.choa.book.BookPictureDTO" parameterType="int">
		select * from BOOK_PICTURE where num=#{num}
	</select>
	
	<select id="sellBookView" resultType="com.choa.book.BookDTO" parameterType="int">
		select * from BOOK where num=#{num}
	</select>
	<select id="sellBookViewMember" resultType="com.choa.member.MemberDTO" parameterType="String">
		select * from MEMBER where id=#{id}
	</select>


	<select id="myBookList" resultType="com.choa.book.BookDTO" parameterType="String">
		select B.* 
		from BOOK B, MEMBERLIKEBOOKS MLB, MEMBER M 
		where (M.id=MLB.id and MLB.num=B.num) and M.id=#{id}
	</select> 
	
	<select id="myBuyList" resultType="com.choa.book.BookDTO" parameterType="String">
		select B.* 
		from BOOK B, BUYERBUYBOOKS BBB, MEMBER M 
		where (M.id=BBB.id and BBB.num_buy=B.num) and M.id=#{id}
	</select>
	
	<select id="sellBookList" resultType="com.choa.book.BookDTO" parameterType="com.choa.util.PageMaker">
  	select T.*, BP.* from
   	 (select * from
		(select Rownum R, F.* from
		(select * from Book order by num asc) F)
		where R between #{startRowNum} and #{lastLowNum})T, BOOK_PICTURE BP
   		 where T.num=BP.num
	</select>
	
	<select id="sellBookList2" resultType="com.choa.book.BookDTO" parameterType="com.choa.util.PageMaker">
  	select T.*, BP.* from
   	 (select * from
		(select Rownum R, F.* from
		(select * from Book order by price asc) F)
		where R between #{startRowNum} and #{lastLowNum})T, BOOK_PICTURE BP
   		 where T.num=BP.num
	</select>
	
	<select id="sellBookList3" resultType="com.choa.book.BookDTO" parameterType="com.choa.util.PageMaker">
  	select T.*, BP.* from
   	 (select * from
		(select Rownum R, F.* from
		(select * from Book order by price desc) F)
		where R between #{startRowNum} and #{lastLowNum})T, BOOK_PICTURE BP
   		 where T.num=BP.num
	</select>
	
		<select id="sellBookList4" resultType="com.choa.book.BookDTO" parameterType="com.choa.util.PageMaker">
  	select T.*, BP.* from
   	 (select * from
		(select Rownum R, F.* from
		(select * from Book order by reg_date desc) F)
		where R between #{startRowNum} and #{lastLowNum})T, BOOK_PICTURE BP
   		 where T.num=BP.num
	</select>
	
	<select id="sellBookList5" resultType="com.choa.book.BookDTO" parameterType="com.choa.util.PageMaker">
  	select T.*, BP.* from
   	 (select * from
		(select Rownum R, F.* from
		(select * from Book order by likes desc) F)
		where R between #{startRowNum} and #{lastLowNum})T, BOOK_PICTURE BP
   		 where T.num=BP.num
	</select>
	
	<select id="bookCount" resultType="int">
		select count(*) from BOOK
	</select>
	
	<select id="deposit" resultType="com.choa.book.BookDTO" parameterType="String">
		select B.* 
		from BOOK B, BUYERBUYBOOKS BBB, MEMBER M 
		where (M.id=BBB.id and BBB.num_buy=B.num) and M.id=#{id}
	</select>
	
	
	
	</mapper>