<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="DealMapper">
    
   <!--구매자가 물건을 받아서 확인하고 구매확정 버튼을 누르면 책의 status가 구매확정으로 바뀐다 -->
   <update id="confirmDeal" parameterType="int">
   		update DEAL set status='구매확정' where num=#{num}
   </update>

   <!--판매자가 택배를 보내고 배송완료 버튼을 누르면 책의 status가 배송중으로 바뀐다  -->
   <update id="deliveryDeal" parameterType="int">
   		update DEAL set status='배송중' where num=#{num}
   </update>
    
    	<select id="ManageDeal" resultType="com.choa.deal.DealDTO">
    		select * from DEAL order by num asc
    	</select>
    	
    	<insert id="insertDeal" parameterType="com.choa.deal.DealDTO">
			insert into DEAL values(deal_seq.nextval, #{num}, #{product}, #{id_buyer}, #{id_seller}, sysdate, #{status} ) 
    	</insert>
    	
       

    	
    	
    </mapper>