<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<!--고유환이 만든부분 시작 -->
	<!--index 에서 판매자 신용도에 따라 1~10위 보여주기  -->
	<select id="sellerTrust" resultType="com.choa.member.MemberDTO">
		select * from MEMBER where type != 4 order by seller_trust desc 
	</select>
	<!--index에서 구매자 신용도에 따라 1~10위 보여주기  -->
	<select id="buyerTrust" resultType="com.choa.member.MemberDTO">
		select * from MEMBER where type != 4 order by buyer_trust desc 
	</select>
	<!--고유환이 만든부분 끝  -->

	<!-- manager -->	
	<!-- 회원리스트 type별로 판매자,구매자,블랙리스트불러오기 -->
	<select id="memberInfo" parameterType="com.choa.util.PageMaker" resultType="com.choa.member.MemberDTO"> 
		select * from 
		(select rownum R, F.* from 
		(select * from member where type=#{type}) F) 
		where R between #{startRowNum} and #{lastLowNum}
	</select>
	<select id="memberCount" parameterType="int"  resultType="int"> 
		select count(*) from member where type=#{type} 
	</select>
	<!-- 전체 글 수 -->
		<select id="singoCount" parameterType="int"  resultType="int"> 
		select count(*) from black
	</select>
	<!-- 신고 글 리스트 -->
		<select id="manageSingolist" parameterType="com.choa.util.PageMaker" resultType="com.choa.blackList.BlackDTO"> 
		select * from 
		(select rownum R, F.* from 
		(select * from black order by num desc) F) 
		where R between #{startRowNum} and #{lastLowNum}
	</select>
	<!-- member -->	
	<insert id="memberJoin" parameterType="com.choa.member.MemberDTO">
		insert into member
		values(#{id},#{pw},#{name},#{tel},#{year},#{email},#{address},1,1,0,#{account})
	</insert>

	<select id="memberLogin" resultType="com.choa.member.MemberDTO" parameterType="com.choa.member.MemberDTO">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	<update id="memberUpdate" parameterType="com.choa.member.MemberDTO">
		update member
		set pw=#{pw}, name=#{name}, tel=#{tel}, email=#{email}, address=#{address}
		where id=#{id}
	</update>
	<delete id="memberDelete" parameterType="String">
		delete member where id=#{id}
	</delete>
	<select id="checkID" resultType="int" parameterType="String">
		select count(*) from member where id=#{id}
	</select>
	<select resultType="String" parameterType="String" id="findID"> 
	select id from member where email=#{find} or tel=#{find} 
	</select>
	<update parameterType="com.choa.member.MemberDTO" id="updatePW"> 
	update member set pw=#{pw} where id=#{id} 
	</update>
	
	
</mapper>