<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<update id="memberApprove" parameterType="String">
		update member set type=2 where id=#{id}
	</update>
	<select id="appCount" resultType="int">
		select count(*) from approve
	</select>
	<insert id="approve" parameterType="java.util.HashMap">
		insert into approve values(
		#{id}, #{filename1}, #{filename2})
	</insert>
	<update id="addPointBuyer" parameterType="int" >
		update member
		set trust=trust+1
		where id = (select distinct D.idBuyer from BOOK B, DEAL D where B.num = D.numBook and B.num=#{num})
	</update>
	<update id="addPointSeller" parameterType="int" >
		update member
		set trust=trust+1
		where id = (select distinct D.idSeller from BOOK B, DEAL D where B.num = D.numBook and B.num=#{num})
	</update>
	<update id="downPointBuyer" parameterType="int" >
		update member
		set trust=trust-1
		where id = (select distinct D.idBuyer from BOOK B, DEAL D where B.num = D.numBook and B.num=#{num})
	</update>
	<update id="downPointSeller" parameterType="int" >
		update member
		set trust=trust-1
		where id = (select distinct D.idSeller from BOOK B, DEAL D where B.num = D.numBook and B.num=#{num})
	</update>


	<!--고유환이 만든부분 시작 -->
	<!--index 에서 판매자 신용도에 따라 1~10위 보여주기  -->
	<select id="trust" resultType="com.choa.member.MemberDTO">
		select * from MEMBER where type != 4 order by trust desc 
	</select>
	<!--index에서 구매자 신용도에 따라 1~10위 보여주기  -->
	<!-- <select id="buyerTrust" resultType="com.choa.member.MemberDTO">
		select * from MEMBER where type != 4 order by buyer_trust desc 
	</select> -->
	<!--고유환이 만든부분 끝  -->

	<!-- manager -->	
	<select id="approveInfo" parameterType="com.choa.util.PageMaker" resultType="com.choa.member.ApproveDTO">
		select * from
		(select rownum R, F.* from 
		(select * from approve) F) 
		where R between #{startRowNum} and #{lastLowNum}
	</select>
	<!-- 회원리스트 type별로 판매자,구매자,블랙리스트불러오기 -->
	
	
	<select id="memberInfo" parameterType="com.choa.util.PageMaker" resultType="com.choa.member.MemberDTO"> 
		select * from 
		(select rownum R, F.* from 
		(select * from member where type=#{type}) F) 
		where R between #{startRowNum} and #{lastLowNum}
	</select>
	<select id="memberCount" parameterType="int"  resultType="int"> 
		select count(*) from member where type=#{type} 
	</select>
	<!-- 전체 글 수 -->
		<select id="singoCount" parameterType="int"  resultType="int"> 
		select count(*) from black
	</select>
	<!-- 신고 글 리스트 -->
		<select id="manageSingolist" parameterType="com.choa.util.PageMaker" resultType="com.choa.blackList.BlackDTO"> 
		select * from 
		(select rownum R, F.* from 
		(select * from black order by num desc) F) 
		where R between #{startRowNum} and #{lastLowNum}
	</select>
	<!-- member -->	
	<insert id="memberJoin" parameterType="com.choa.member.MemberDTO">
		insert into member
		values(#{id},#{pw},#{name},#{tel},#{email}, #{address},1,1,0,#{account},#{year}, 0, sysdate)
	</insert>

	<select id="memberLogin" resultType="com.choa.member.MemberDTO" parameterType="com.choa.member.MemberDTO">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	<update id="memberUpdate" parameterType="com.choa.member.MemberDTO">
		update member
		set pw=#{pw}, name=#{name}, tel=#{tel}, email=#{email}, address=#{address}, account=#{account}
		where id=#{id}
	</update>
	<delete id="memberDelete" parameterType="String">
		delete member where id=#{id}
	</delete>
	<select id="checkID" resultType="int" parameterType="String">
		select count(*) from member where id=#{id}
	</select>
	<select resultType="String" parameterType="com.choa.member.MemberDTO" id="findID"> 
	select id from member where name=#{name} and tel=#{tel}
	
	</select>
	<update parameterType="com.choa.member.MemberDTO" id="updatePW"> 
	update member set pw=#{pw} where id=#{id} 
	</update>
	
	
</mapper>