<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">

	<!-- manager -->	
	<!-- 회원리스트 type별로 판매자,구매자,블랙리스트불러오기 -->
	<select id="memberInfo" parameterType="com.choa.util.PageMaker" resultType="com.choa.member.MemberDTO"> 
		select * from 
		(select rownum R, F.* from 
		(select * from member where type=#{type}) F) 
		where R between #{startRowNum} and #{lastLowNum}
	</select>
	<select id="memberCount" parameterType="int"  resultType="int"> 
		select count(*) from member where type=#{type} 
	</select>
	
	<!-- member -->	
	<insert id="memberJoin" parameterType="com.choa.member.MemberDTO">
		insert into member
		values(#{id},#{pw},#{name},#{tel},#{year},#{email},#{address},1,1,0,#{account})
	</insert>

	<select id="memberLogin" resultType="com.choa.member.MemberDTO" parameterType="com.choa.member.MemberDTO">
		select * from member where id=#{id} and pw=#{pw}
	</select>
	<update id="memberUpdate" parameterType="com.choa.member.MemberDTO">
		update member
		set pw=#{pw}, name=#{name}, tel=#{tel}, email=#{email}, address=#{address}
		where id=#{id}
	</update>
	<delete id="memberDelete" parameterType="String">
		delete member where id=#{id}
	</delete>
	<select id="checkID" resultType="int" parameterType="String">
		select count(*) from member where id=#{id}
	</select>
</mapper>