<!-- <!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>Insert title here</title>
</head>
<body> -->
	<!-- 		<audio  id="musicPlayer" autoplay="autoplay"  controls autoplay  >
	  					<source src="/music.mp3" type="audio/mpeg">
					</audio>   -->
					<!--------------------  hidden.html---------------------->

 <embed src="/music.mp3" autostart="true" loop="true" volume="50"> 

<!-- <embed src="/proxyProject/resources/upload/music.mp3" loop="true" autostart="true" hidden="true"/>  -->

