
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>마이템플릿</title>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
</head>
<!-------------------- index.html---------------------->
<!-- <frameset rows="18, 1*" cols="1*" border="0">
       <frame name="top" scrolling="no" marginwidth="0" marginheight="0" noresize src=http://bgm.music24.kr/top.htm>
       <frame name="main" scrolling="auto" marginwidth="0" marginheight="0" src="http://lovene.dnip.net/tt/62" noresize>
<noframes>
<body  text="#000000" link="#0000FF" vlink="#800080" alink="#FF0000">


</body>
</noframes>
</frameset> -->
<!-- <frameset rows="100,0" frameborder="NO" border="0" framespacing="0"  >
	<frame name="main" src="/index.jsp" />
	<frame name="hidden" scrolling="AUTO"  noresize src="/hidden.html" marginwidth="0" marginheight="0"/>
</frameset>
<noframes>


</noframes> -->
</html>