@CHARSET "UTF-8";
*{
    font-family: 돋움, Dotum, AppleGothic, sans-serif;
    color: #333333;
}
a:link{
	text-decoration: none;	
}
.content_wrap{
	width: 100%;
	min-height: 300px;
}
#n2_nboard .list_paging{
	border-top:1px solid #DDDDDD;
	border-bottom:1px solid #DDDDDD;
}
#n2_nboard .list_paging .list_ul{
	padding-left:0;
	width: 100%;
    margin: 0;
    color: #777777;
}
#n2_nboard .list_paging .list_ul li{
	list-style: none;
	position: relative;
    width: 90%;
    margin-bottom: 0;
    padding: 8px 0 6px 0;
    border-bottom: 1px solid #EFEFEF;
}
#pageing {
   width: 50%;
   height: 40px;
   margin: 0 auto;
   text-align : center;
}
.page {
   display: inline-block;
   color: black;
   border-radius: 0.2em;
   width: 7%;
   height: 40px;
   line-height: 35px;
   text-align: center;
   border: 1px solid #B4B4B4;
}
table{
	width: 80%;
	border: 1px solid #dbdada;
	margin: 0 auto;
}
